#### Général
.idea/
.DS_Store
.AppleDouble
.LSOverride


#### API'S
*/.env

#Exclude cache folder
*/Cache/*
*!/Cache/.gitkeep
*!/Cache/*/.gitkeep

#Exclude logs folder
*/Logs/*
*!/Logs/.gitkeep

#Exclude phpUnit cache file
*/.phpunit.result.cache
*/.phpunit.cache


#### WEB